
<!-- cards -->
  <div class="container-fluid">
    <div class="section">
      <div class="row">


        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-content center">

              <span class="card-title green-text text-darken-4"><i class="material-icons tiny ">flash_on</i> سرعت حیرت انگیز</span>
              <p class="grey-text">جنگو برای کمک به توسعه دهندگان طراحی شده است تا در سریعترین زمان ایده خود را اجرایی کنند.</p>

            </div>
          </div>
        </div>


        <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-content center">

                <span class="card-title green-text text-darken-4"><i class="material-icons tiny">settings</i> نهایت امنیت</span>
                <p class="grey-text">جانگو  به توسعه دهندگان کمک می کند تا از بسیاری از خطاهای امنیتی  جلوگیری کنند</p>
              </div>
            </div>
          </div>


          <div class="col s12 m4">
              <div class="card hoverable">
                <div class="card-content center">

                  <span class="card-title green-text text-darken-4"><i class="material-icons tiny">group</i> پرهیز از تکرار</span>
                  <p class="grey-text">کارهای پرتکرار و مورد</p>
                </div>
              </div>
            </div>



      </div>

    </div> <!-- row -->
  </div><!-- container -->

