
<!-- cards -->
  <div class="container-fluid">
    <div class="section">
      <div class="row">


        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-content">

              <span class="card-title blue-text"><i class="material-icons tiny ">flash_on</i> سرعت حیرت انگیز</span>
              <p>جنگو برای کمک به توسعه دهندگان طراحی شده است تا در سریعترین زمان ایده خود را اجرایی کنند.</p>

            </div>
          </div>
        </div>


        <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-content">

                <span class="card-title green-text"><i class="material-icons tiny green-text">settings</i> نهایت امنیت</span>
                <p>جانگو  به توسعه دهندگان کمک می کند تا از بسیاری از خطاهای امنیتی  جلوگیری کنند</p>
              </div>
            </div>
          </div>


          <div class="col s12 m4">
              <div class="card hoverable">
                <div class="card-content">

                  <span class="card-title green-text"><i class="material-icons tiny green-text">group</i> سرعت حیرت انگیز</span>
                  <p>جنگو توانایی توسعه سریع و انعطاف پذیری  مقیاس .</p>
                </div>
              </div>
            </div>



      </div>

    </div> <!-- row -->
  </div><!-- container -->

