{% load static %}


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>حمایت از این پروژه</h4>
          <p class="right-align">
            این سایت برای معرفی , آموزش و گسترش جامعه فریمورک جنگو ایجاد شده است . این پروژه به صورت اپن سورس در گیت هاب قرار گرقته است تا با همکاری شما بزرگتر و به مرجع کامل فارسی برای این فریم ورک پایتونی تبدیل شود .

          </p>
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/nim4karimi/bedjango" data-size="large" data-show-count="true" aria-label="Star nim4karimi/bedjango on GitHub">Star</a>
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/nim4karimi/bedjango/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork nim4karimi/bedjango on GitHub">Fork</a>
        </div>
      </div>

    </div>
  </div>

  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>





  <!--<div class="parallax-container valign-wrapper">-->
    <!--<div class="section no-pad-bot">-->
      <!--<div class="container">-->
        <!--<div class="row center">-->
          <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="parallax">-->
      <!--<img src="{% static 'app/assets/background1.jpg' %}" alt="Unsplashed background img 2">-->
    <!--</div>-->
  <!--</div>-->








  <!--<div class="parallax-container valign-wrapper">-->
    <!--<div class="section no-pad-bot">-->
      <!--<div class="container">-->
        <!--<div class="row center">-->
          <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="parallax">-->
      <!--<img src="background3.jpg" alt="Unsplashed background img 3">-->
    <!--</div>-->
  <!--</div>-->




  <!--<div class="container">-->
    <!--<div class="section">-->

      <!--<div class="row">-->


        <!--<div class="col s12 m6">-->
          <!--<div class="card">-->
            <!--<div class="card-image">-->
              <!--<img src="images/sample-1.jpg">-->
              <!--<span class="card-title">Card Title</span>-->
              <!--<a class="btn-floating halfway-fab waves-effect waves-light red">-->
                <!--<i class="material-icons">add</i>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require-->
                <!--little markup to use effectively.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


      </div>
      <!-- End of Row -->

    </div>
  </div>