{% load static %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center green-text text-darken-4 ">جنگو</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text">یک فریمورک وب سطح بالا در پایتون است
            <br> که باعث طراحی وب اپلیکیشن تمیز، سریع و کارآمد می شود. </h5>

        </div>
        <div class="row center">
          <a href="{% url 'post-list' %}" id="download-button" class="btn waves-effect waves-light green darken-4 pulse">بلاگ</a>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="{% static 'app/assets/background1.jpg' %}" alt="جنگو">
    </div>
  </div>
