<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Be Django | بی جنگو</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'app/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'app/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
{% include 'include/_menu_home.html' %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center green-text text-darken-4 ">جنگو</h1>
        <div class="row center">
          <h5 class="header col s12 light-green-text">یک فریمورک وب سطح بالا در پایتون است
            <br> که باعث طراحی وب اپلیکیشن تمیز، سریع و کارآمد می شود. </h5>

        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-small waves-effect waves-light light-green  pulse">شروع</a>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="{% static 'app/assets/background1.jpg' %}" alt="Unsplashed background img 1">
    </div>
  </div>

<!-- cards -->
  <div class="container-fluid">
    <div class="section">
      <div class="row">


        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-content">

              <span class="card-title blue-text"><i class="material-icons tiny ">flash_on</i> سرعت حیرت انگیز</span>
              <p>جنگو برای کمک به توسعه دهندگان طراحی شده است تا در سریعترین زمان ایده خود را اجرایی کنند.</p>

            </div>
          </div>
        </div>


        <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-content">

                <span class="card-title green-text"><i class="material-icons tiny green-text">settings</i> نهایت امنیت</span>
                <p>جانگو  به توسعه دهندگان کمک می کند تا از بسیاری از خطاهای امنیتی  جلوگیری کنند</p>
              </div>
            </div>
          </div>


          <div class="col s12 m4">
              <div class="card hoverable">
                <div class="card-content">

                  <span class="card-title green-text"><i class="material-icons tiny green-text">group</i> سرعت حیرت انگیز</span>
                  <p>جنگو توانایی توسعه سریع و انعطاف پذیری  مقیاس .</p>
                </div>
              </div>
            </div>



      </div>

    </div> <!-- row -->
  </div><!-- container -->


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="background2.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque
            tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a
            sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam
            eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum
            sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="background3.jpg" alt="Unsplashed background img 3">
    </div>
  </div>




  <div class="container">
    <div class="section">

      <div class="row">


        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
          </div>
        </div>


      </div>
      <!-- End of Row -->

    </div>
  </div>



  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support
            and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by
        <a class="white-text" href="https://nim4.ir">❤️🍺 Nim4 </a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'app/js/materialize.js' %}"></script>
  <script src="{% static 'app/js/init.js' %}"></script>

</body>

</html>